<div class="container-fluid container-bg-color">
  <!-- <footer class="footer">
    <small>Copyright &copy; 2016 </small>
    <nav>
      <ul>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
  </footer> -->
  <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <ul>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
        <li><%= link_to "Lorem ipsum dolor sit amet.", "#"%></li>
      </ul>
    </div>
  </div>
</div>

</div>
